[MESSAGES CONTROL]
disable=
    consider-using-enumerate,
    consider-using-set-comprehension,
    unnecessary-comprehension,
    useless-parent-delegation,
    wrong-import-order,
    dangerous-default-value,
    no-else-break,
    too-many-lines,
    too-many-statements,
    too-many-nested-blocks,
    too-many-ancestors,
    unused-argument,
    unnecessary-lambda,
    arguments-differ,
    consider-using-generator,
    missing-function-docstring,
    missing-class-docstring,
    missing-module-docstring,
    logging-fstring-interpolation,
    line-too-long,
    broad-except,
    broad-exception-raised,
    raise-missing-from,
    f-string-without-interpolation,
    fixme,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-public-methods,
    too-few-public-methods,
    simplifiable-if-statement,
    no-else-return,
    too-many-branches,
    duplicate-code,
    unsubscriptable-object,
    c-extension-no-member,
    too-many-locals